@import "_nullstyle";

//under development
// promixes ------
$fontFamily: "Quicksand", sans-serif;
//$font-family: Amazon Ember; //!
$fontSize: 1rem;

$mainColor: #6a6e77;
$darkColor: #1c1f25;

$minWidth: 320;
$maxWidth: 1440;
$maxHeigth: 1080;
$containerPadding: 480;

$maxWidthContainer: 0;

$containerWidth: $maxWidthContainer + $containerPadding;

$pc: em($containerWidth);

$resposiveType: 1;

//$f: math.div(230,3);
//@debug $f;
@mixin math($math, $startvalue, $secondvalue) {
    #{$math}: ($startvalue / $secondvalue) + "px";
}

@mixin adaptive-value($property, $minSize, $maxSize, $min-screen, $max-screen) {
    $addsize: $maxSize - $minSize;
    $screen-width: $max-screen - $min-screen;
    $screen-range: 100vw - #{$min-screen + "px"};
    $valueSize: calc(#{$minSize + px} + #{$addsize} * ((#{$screen-range}) / #{$screen-width}));
    #{$property}: $valueSize;
}

// Don`t forgot cascadeee ------
html,
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    background: #1c1f2563; //#1C1F25
    height: 100%;
    overflow: hidden; // todo add fixed sizes to timer blok to avoid strange effect from decreasing font-size
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: rgb(97, 177, 247);
}
/*
[class*="__container"] {
    @include adaptive-value(padding-left, 15, 40, $minWidth, $maxWidth);
    @include adaptive-value(padding-right, 15, 40, $minWidth, $maxWidth);
}


 containers
[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


@media(max-width: 1199.98px){
    [class*="__container"]{
        max-width: 970px;
    }
}

@media(max-width: 990.98px){
    [class*="__container"]{
        max-width: 750px;
    }
}

@media(max-width: 767.98px){
    [class*="__container"]{
        max-width: 650px;
    }
}*/
/*

    &__img {
        flex: 1 1 auto; /* 234/659 
        height: 50%;
        // position: relative;//
        margin-bottom: 20px;

        img {
            /*
            position: absolute;//
            top: 0;//
            left: 0;//
            width: 100%;//
            height: 100%;//
            padding-bottom: 100%;//
            object-position: center;
            object-fit: cover;
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }
    }
    */

/*
    &__text {
        display: flex;

        align-items: center;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
        min-height: 45px;
        hyphens: auto;
    }

*/

/*[class*="__container"]{
    @include adaptive-value(padding-left, 15, 150, $minWidth, $maxWidth);
    @include adaptive-value(padding-right, 15, 150, $minWidth, $maxWidth);

}*/

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
    background: linear-gradient(90deg, #29323c 0%, #485563 100%);

    // for text

    font-size: 1.75rem;
    letter-spacing: 0.1em;
}
.timer {
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
        margin-top: 15px;
    }
    transition: transform 1.5s ease-in 0s, font-size 1s ease-in 0s;
}
.timer.__finish {
    transform: translate(0, -100vh);
    font-size: 0.45rem;
}

.doors__body {
    position: relative;
    width: 225px;
    height: 175px;
    background: #fff;
    span {
        position: absolute;
        inset: 0;
        transition: 0.5s;

        background: url(img/black-doors.svg) center center / cover; // todo doors in figma
    }
    span:nth-child(1) {
        clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
        //background: #a00;
    }
    span:nth-child(2) {
        clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
        //background: #0a0;
    }
    span:nth-child(3) {
        clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
        //background: #00a;
    }
    span:nth-child(4) {
        clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
        //background: #aa0;
    }
}
/// ------------ 1 -----------
.doors__body:hover span:nth-child(1) {
    transform: translate(-40px, -60px) rotate(-15deg);
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

/// ------------ 2 -----------
.doors__body:hover span:nth-child(2) {
    transform: translate(40px, -60px) rotate(21deg);
}

/// ------------ 3 -----------
.doors__body:hover span:nth-child(3) {
    transform: translate(-40px, 60px) rotate(-12deg);
}
/// ------------ 4 -----------
.doors__body:hover span:nth-child(4) {
    transform: translate(40px, 60px) rotate(15deg);
}

.screen.up {
    ///todo add transition bettwen  two screens and sudden appearance racer
    margin-top: -100vh;
}
// first scenery for doors
@keyframes doors__upleft-1-scenary {
}
@keyframes doors__upright-1-scenary {
}
@keyframes doors__downleft-1-scenary {
}
@keyframes doors__downright-1-scenary {
}

// second scenery for doors

@keyframes doors__upleft-2-scenary {
}
@keyframes doors__upright-2-scenary {
}
@keyframes doors__downleft-2-scenary {
}
@keyframes doors__downright-2-scenary {
}
/*
// .time-list {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     list-style: none;
//     padding: 0;
// }

// .time-list li {
//     margin: 10px;
// }

// .time-btn {
//     background-color: transparent;
//     border: 2px solid #c0c0c0;
//     color: #fff;
//     cursor: pointer;
//     font-family: inherit;
//     padding: 0.5rem 1rem;
//     font-size: 1.5rem;
// }

// .time-btn:hover {
//     border: 2px solid #16d9e3;
//     color: #16d9e3;
// }

// .hide {
//     opacity: 0;
// }

// .primary {
//     color: #16d9e3;
// }

// .board {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     width: 500px;
//     height: 500px;
//     background: linear-gradient(118.38deg, #29323c -4.6%, #485563 200.44%);
//     box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
//     border-radius: 30px;
//     overflow: hidden;
// }

// .circle {
//     background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
//     position: absolute;
//     border-radius: 50%;
//     cursor: pointer;
// }
// .timer {
//     margin-bottom: 15px;
// }

// .score {
//     color: #fff;
//     font-size: 25px;
// }*/
@media (max-width: 1024px) {
    /*
    .checkout {
        &__content {
            grid-template: auto 1fr / 1fr;
            row-gap: 35px;
        }

        &__order-payment {
            grid-row: 1/2;
            margin-left: 0;
        }
    }

    .cart {
        &__content {
            align-items: start;
            grid-template: minmax(150px, 350px) minmax(80px, 1fr) minmax(120px, 200px) / 1fr;
            grid-template-columns: 1fr;
            row-gap: 35px;
        }

        & .cart__delivery-options {
            grid-column: auto;
        }

        &__info {
            grid-column: auto;
            margin-right: 0;
            margin-bottom: 25px;
        }

        &__quantity {
            justify-content: start;

            span {
                //justify-items: flex-start;
                margin-left: 0px;
            }
            &-change {
                width: auto;
                margin-bottom: 0;
            }
            &-box {
                margin-bottom: 0;
            }
        }
        &__btn-box {
            margin-left: 10px;
            margin-top: 0;
        }
    }*/
}

//
@media (max-width: 767.777px) {
}
@media (max-width: 374.444px) {
}
